<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>What is BitcoinJackpot?</h4>
            <p>We are a Bitcoin based website where you can bet Bitcoins and take the chance to win BIG!</p>
            <p>
                We function in a very simple fashion
                <ul>
                    <li>Deposit Bitcoins into your session account</li>
                    <li>We give you 1 ticket per 0.0001<span class="glyphicon glyphicon-btc" aria-hidden="true"></span> bet into the Jackpot</li>
                    <li>When 25 bets are received we gather all awarded tickets and randomly pick a winner</li>
                    <li>The winner will have their winnings deposited in their BitcoinJackpot session account</li>
                </ul>
            </p>
        </div>
        <div class="col-md-12">
            <h4>Rules</h4>
            <p>
                <ul>
                    <li>There is no deposit limit per bettor</li>
                    <li>There is no limit to the amount of bets a single bettor can make in a single round</li>
                    <li>There is a house rake of 5% on every round- this rake is calculated based on the total pool amount in <span class="glyphicon glyphicon-btc" aria-hidden="true"></span> contained within a specific Jackpot round</li>
                    <li>Balances are added to the session account after a minimum of 6 blockchain confirmations</li>
                    <li>Withdrawls are made instantly on request - all withdrawls carry a 0.0001<span class="glyphicon glyphicon-btc" aria-hidden="true"></span>  minimum amount along with a 0.0001<span class="glyphicon glyphicon-btc" aria-hidden="true"></span> Miner's Fee</li>
                </ul>
            </p>
        </div>

        <div class="col-md-12">
            <h4>Important Notes</h4>
            <p>
                <ul>
                    <li><strong>SAVE</strong> and <strong>DO NOT SHARE</strong> your URL</li>
                    <li>If you lose your current URL there will be no way to recover the session and its contained bitcoins</li>
                </ul>
            </p>
        </div>
    </div>
</div>